.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.covered {
  content: url('../img/card-back.png');
}

.hand {
  overflow: auto;
}
.btn{
  width: 70px;
}
.hit-button{
  margin-right: 20px;
}
.hit-button:hover{
  background-color: #283593;
}
.stand-button:hover{
  background-color: #C62828;
}
body{
  text-align: center;
  background-color: green;
}
div.card{
  position: relative;
  left: 30%;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary{
  width: 100px;
  text-align: center;
}
.winner{
  color: purple;
  border: black solid 3px;
}
